.round-main {
  padding-top: 100px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  text-align: center;
  background-color: cornflowerblue;
  height: 100vh;
}

.round-p-lg {
  color: white;
  font-size: 36px;
}

.round-p {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.round-p-sm {
  color: white;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

.round-level-p {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 36px;
}

.game-icon {
  margin-top: 64px;
  margin-bottom: 64px;
}

.round-progress {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
}

.round-number {
  margin-top: 64px;
  font-size: 42px;
  font-weight: 500;
}
