.number-memory-main {
  padding: 36px;
}

.number-memory-p {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.number-memory-p-sm {
  color: black;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

.game-icon {
  margin-top: 64px;
  margin-bottom: 64px;
}
